body{
    font-family:Arial;
    background:#f5f5f5;
}

.container{
    width:80%;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#ddd;
}

th,td{
    padding:10px;
    border:1px solid #ccc;
}

button{
    padding:8px;
    cursor:pointer;
}

#mensaje{
    font-weight:bold;
}
